<header class="header">
      <nav class="nav">
        <ul class="header_menu">

        <% if user_signed_in? %>
          <li class="nav-link"><%= current_user.name %>さん</li>

          <% else %>
          <li></li>
          <% end %>

          <li class="header_menu_title"><%= link_to "What to do?", root_path, class: "nav-link" %></li>
          <li>
          
            <ul class="header_menu_inner">

              <li>
                <%= link_to "", class: "nav-link" %>
                  <span class="mr-1">リストを作成</span> <%#のちに修正%>
              </li>
              <% if user_signed_in? %>
              <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
            </ul>
            <% end %>
          </li>
        </ul>
      </nav>
    </header>
